@model BuiP3.Models.CoursesModel
@{
    ViewData["Title"] = Model.pageTitle;
}

<h1>@Model.pageTitle</h1>

<div id="coursesContent" style="display:none">
    <div class="course-list">
        @foreach (var course in Model.allCourses)
        {
            <div class="course-item">
                <!-- Show course Descript -->
                <a href="@Url.Action("CourseDetails", "Home", new { id = course })"
                   class="course-link"
                   data-course="@course">
                    @course
                </a>
            </div>
        }
    </div>
</div>
