@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>All My Life I Though Air Was Free. 
        Until I Bought A Bag Of Chips</p>
</div>
